@import url("fontawesome-all.min.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #424C55;
}
header {
  position: relative;
}
header img {
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}
header .head-cont {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .head-cont nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
header .head-cont nav a {
  font-size: 3rem;
  text-decoration: none;
  color: snow;
  text-transform: uppercase;
}
header .head-cont nav a:hover {
  text-shadow: 5px 5px 2.5px black;
  text-transform: lowercase;
}
.left img {
  border-radius: 40%;
}
#about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .card {
  width: 95%;
  height: 90%;
  background-color: #313831;
  display: flex;
}
#about .card .left {
  margin: 1% 0 1% 1%;
  width: 49%;
  background-color: #8A8D91;
}
#about .card .left .top {
  margin: 2% 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  padding-bottom: 2%;
  border-bottom: 2px solid black;
  line-height: 1.5;
  text-align: center;
}
#about .card .left .top .myName {
  text-decoration: underline;
}
#about .card .left .top .interests {
  font-size: 2rem;
  display: block;
}
#about .card .left .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .card .left .bottom .innerLeft {
  width: 49%;
  border-right: 2px solid black;
  padding: 0 3.5% 0 2.5%;
  margin-top: 3%;
}
#about .card .left .bottom .innerLeft h3 {
  font-size: 3rem;
  border-bottom: 1px solid black;
}
#about .card .left .bottom .innerLeft p {
  font-size: 1.5rem;
  padding: 4% 0;
  line-height: 1.1;
}
#about .card .left .bottom .innerRight {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 3.5% 0 2.5%;
  margin-top: 8%;
}
#about .card .left .bottom .innerRight h3 {
  font-size: 3rem;
  border-bottom: 1px solid black;
}
#about .card .left .bottom .innerRight ul {
  margin: 5% 0;
  width: 100%;
}
#about .card .left .bottom .innerRight li {
  font-size: 1.9rem;
  margin: 5% 0;
  line-height: 1;
  border: 1px solid black;
  width: 100%;
}
#about .card .right {
  margin: 1% 1% 1% 0.5%;
  width: 49%;
  background-color: #8B8BAE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about .card .right .top {
  width: 100%;
}
#about .card .right .top h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10%;
  text-decoration: underline;
}
#about .card .right .bottom {
  height: 70%;
}
#about .card .right .bottom img {
  width: 100%;
  height: 100%;
  padding: 2%;
}
#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .card {
  width: 95%;
  height: 90%;
  background-color: #313831;
  display: flex;
}
#contact .card .left {
  margin: 1% 0 1% 1%;
  width: 49%;
  background-color: #8B8BAE;
}
#contact .card .left .top {
  margin: 2% 1.5%;
  justify-content: space-around;
  font-size: 2rem;
  padding-bottom: 2%;
  border-bottom: 2px solid black;
  text-align: center;
}
#contact .card .left .top h3 {
  margin: 5% 0;
}
#contact .card .left .top p {
  margin: 5% 0;
  font-size: 1.5rem;
}
#contact .card .left .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 75%;
}
#contact .card .left .bottom .reachout-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 3.5% 0 2.5%;
  margin-top: 3%;
}
#contact .card .left .bottom .reachout-2 .fab {
  width: 100px;
  height: 100px;
}
#contact .card .left .bottom .reachout-2 a {
  color: black;
}
#contact .card .left .bottom .contact2 {
  width: 55%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: slategray;
  flex-direction: column;
  padding: 0 3.5% 0 2.5%;
  margin-top: 8%;
}
#contact .card .right {
  margin: 1% 1% 1% 0.5%;
  width: 49%;
  background-color: #8A8D91;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .card .right input[type=text],
#contact .card .right textarea {
  width: 100%;
  padding: 5%;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 4%;
}
#contact .card .right input[type=submit] {
  color: black;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  resize: vertical;
}
